body {
    margin: auto;
    padding: 0;
    background-image: url("images/highball.jpg");
    background-size: cover;
    background-position:center;
    position: relative;
}

body main {
    margin: auto;
    display: flex;
}

main section {
    margin: 20px 20px 20px 20px;
    flex: 1;
}

header h1 {
    text-align: center;
    color:azure;
}

header, footer {
    background: linear-gradient(180deg, rgba(0,212,255,0.25) 0%, rgba(8,75,131,1) 100%);
    padding: 25px;
    margin: auto;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

#nav-container nav {
    background-color: rgba(101, 101, 101, 0.25);
    border-radius: 5px;
    padding: 10px;
    border-style: dashed;
    border-color: burlywood;
    border-width: 0.25em;
}

#nav-container nav h2 {
    text-align: center;
}

h2 {
    font-size:20px;
    color:#42BFDD;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

h3 {
    font-size: 16px;
}

p {
    color:rgb(211, 211, 211);
}

#sectioning {
    display: flex;
    flex-direction: column;
}

main section h3 {
    color:#42BFDD;
    margin:auto;
    text-align: center;
}

main section p {
    margin: 10px 0px 10px 10px;
    line-height: 30px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    margin-bottom: 5px;
    display: block;
    border-color: #42BFDD;
    border-style: groove;
    border-width: 0.25em;
    background-color: rgb(222, 184, 135);
    text-align: center;
}

nav ul li:hover {
    color: azure;
    background-color: rgb(129, 106, 77);
}

nav ul li a:hover {
    color: azure;
}


nav ul li a {
    text-decoration: none;
    color: #666;
}

#bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bubble1, .bubble2, .bubble3, .bubble4, .bubble5 {
    will-change: transform;
    cursor: pointer;
}
  

.bubble1 {
    position: relative;
    transform: translateX(100%) translateY(60%);
    animation: floatBubble 70s infinite ease-in-out;
    transform-origin: bottom center;
    display: inline-block;
}

.bubble2 {
    position: relative;
    transform: translateX(500%) translateY(50%);
    animation: floatBubble3 35s infinite ease-in-out;
    transform-origin: bottom center;
    display: inline-block;
}

.bubble3 {
    position: relative;
    transform: translateX(1100%) translateY(150%);
    animation: floatBubble3 10s infinite ease-in-out;
    transform-origin: bottom center;
    display: inline-block;
}

.bubble4 {
    position: relative;
    transform: translateX(750%) translateY(300%);
    animation: floatBubble2 15s infinite ease-in-out;
    transform-origin: bottom center;
    display: inline-block;
}

.bubble5 {
    position: relative;
    transform: translateX(465%) translateY(200%);
    animation: floatBubble3 20s infinite ease-in-out;
    transform-origin: bottom center;
    display: inline-block;
}

#diona_animation {
    position: relative;
    width:auto;
    margin-bottom: 125%;
}

#diona_animation img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.diona_head,
.diona_body {
    will-change: transform;
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    margin: auto;
}

.diona_head:hover {
    animation: nod 1s ease-in-out infinite;
}

@keyframes nod {
    0% {
       transform: translate(0px, 0px);
    }

    50% {
       transform: rotate(-5deg);
    }

    100% {
       transform: translate(0px, 0px);
    }
}

@keyframes shake {
    0% {
       transform: translate(0px, -10px);
    }

    20% {
        transform: translate(10px, -5px);
    }

    40% {
       transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
       transform: translate(-10px, 5px);
    }

    80% {
        transform: translate(0px, 10px);
    }
}

@keyframes floatBubble {
    0% {transform: translateY(50%); }
    25% {transform: translateX(100%); }
    50% {transform: translateY(200%); }
    75% {transform: translateX(-100%); }
    100% {transform: translateY(50%); }
}

@keyframes floatBubble2 {
    0% {transform: translateY(100%); }
    25% {transform: translateX(-50%)}
    50% {transform: translateY(150%)}
    75% {transform: translateX(50%)}
    100% { transform: translateY(100%); }
}

@keyframes floatBubble3 {
    0% {transform: translateY(150%); }
    25% {transform: translateX(50%)}
    50% {transform: translateY(100%)}
    75% {transform: translateX(-50%)}
    100% { transform: translateY(150%); }
}

@media only screen and (min-width: 600px) {
    #sectioning {
        flex-direction: row;
    }
}

